/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 300 , 400, 500, 700 */
/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: "Pretendard-Regular", "Montserrat", sans-serif;
  font-size: 16px;
}

.wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

i {
  cursor: pointer;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 100px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
  background-color: white;
}

.nav_menu {
  text-align: center;
  height: 100%;
}
.nav_menu > ul {
  display: flex;
  align-items: center;
  width: 500px;
  height: 100%;
  z-index: 99999;
}
.nav_menu > ul > li {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.nav_menu > ul > li:first-child {
  margin-left: 0;
}
.nav_menu > ul > li a:hover {
  color: blue;
}

.nav_back {
  width: 100%;
  height: 400px;
  background-color: #b6a5d1;
  position: fixed;
  z-index: 9997;
  top: 100px;
  left: 0;
  display: none;
}

.nav_submenu {
  width: 100%;
  font-size: 0.8em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.nav_submenu li {
  margin-top: 1em;
}

.nav_menuright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 100%;
}
.nav_menuright i {
  font-size: 30px;
}

.nav_hamburger {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.nav_hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: 0.2s;
  transform: translateY(-50%);
}
.nav_hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}
.nav_hamburger span:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 0;
}
.nav_hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.nav_hamburger:hover span:nth-child(2) {
  width: 100%;
}

.header_hamburgerBack {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: white;
  display: none;
}
.header_hamburgerBack > div {
  flex: 1 1 50%;
}

.hamburgerleft {
  background-color: #feecbc;
  padding: 100px 0 0 80px;
}
.hamburgerleft h2 {
  font-size: 2em;
  margin-bottom: 70px;
}

.hamburgerleft_text {
  width: 100%;
  height: 100px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.hamburgerleft_text span {
  font-size: 1.5em;
  margin: 0 10px;
  cursor: pointer;
}
.hamburgerleft_text span:nth-of-type(2) {
  width: 160px;
  height: 2px;
  background-color: black;
  display: none;
}
.hamburgerleft_text span:nth-of-type(3) {
  border: 1px solid black;
  padding: 0.5em 0.7em;
  border-radius: 1em;
  display: none;
}

.hamburgerright {
  width: 100%;
  height: 100%;
}
.hamburgerright div:first-child {
  padding-top: 200px;
}

.hamburger_menu {
  display: flex;
  align-items: stretch;
  margin-top: 2em;
  margin-left: 1em;
}
.hamburger_menu h2 {
  width: 200px;
  font-size: 2em;
  font-weight: 700;
}
.hamburger_menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.hamburger_menu ul li {
  margin-left: 2em;
  padding: 0.5em 0;
}

.hamburgerclose {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #feecbc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamburgerclose i {
  font-size: 70px;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
  top: 100px;
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  position: absolute;
  width: 100%;
  top: 10%;
}

.swiper-button-next {
  margin-right: 100px;
}

.swiper-button-prev {
  margin-left: 100px;
}

main h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 2em;
  font-size: 3em;
  font-weight: 700;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper2 {
  top: 0;
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide_box {
  position: relative;
}

.slide_boxleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 600px;
  height: 400px;
  padding: 2em;
  background-color: darkblue;
  color: white;
  border-radius: 3em 0 3em 0;
  position: absolute;
  top: 100px;
  left: 0;
}
.slide_boxleft :first-child {
  font-size: 2em;
  font-weight: 700;
}

.slide_boxright {
  background-color: green;
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 3em 0 3em 0;
  width: 600px;
  height: 400px;
}

.swiper-slide-active .slide_boxleft {
  animation: boxmove 0.8s linear both;
  animation-delay: 0.5s;
}

.swiper-slide-active .slide_boxright {
  animation: boxmove2 0.8s linear both;
  animation-delay: 0.5s;
}

@keyframes boxmove {
  from {
    top: 100px;
  }
  to {
    top: 0;
  }
}
@keyframes boxmove2 {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}
section {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
